<p id="notice"><%= notice %></p>

<p>
  <b><%= _("Email")%>:</b>
  <%= @user.email %>
</p>

<p>
  <b><%= _("User name")%>:</b>
  <%= @user.name %>
</p>

<p>
  <b><%= _("First name")%>:</b>
  <%= @user.f_name %>
</p>

<p>
  <b><%= _("Last name")%>:</b>
  <%= @user.l_name %>
</p>
<% if session[:role] == 'admin' %>
<p>
  <b><%= _("Active")%>:</b>
  <%= @user.active %>
</p>

<p>
  <b><%= _("Role")%>:</b>
  <%= @user.role %>
</p>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
