<h1><%= _("Listing posts") %></h1>

<table class="list">
  <thead>
  <tr>
    <th><%= _("Title") %></th>
    <th><%= _("Status") %></th>
    <th><%= _("Author") %></th>
    <th><%= _("Category") %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @posts.each do |post| %>
  <tr>
    <td><%= post.title %></td>
    <td><%= post.status %></td>
    <td><%= post.author ? (link_to post.author.name.to_s, post.author) : '' %></td>
    <td><%= post.category ? (link_to post.category.title, post.category) : '' %></td>
    <td><%= link_to(image_tag('show.png',:alt => _('Show'), :title => _('Show')), post) %></td>
    <td><%= link_to(image_tag('edit.png',:alt => _('Edit'), :title => _('Edit')), edit_post_path(post)) %></td>
     <td><%= link_to image_tag("destroy.png", :border=>0, :title => _("Destroy"), :alt => _("Destroy")),  {:controller => "posts", :action => "destroy", :id => post.id }, :confirm => 'Are you sure?', :method => :delete %></td>  
  </tr>
<% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Post', new_post_path, :class => 'new' %>
