<!DOCTYPE html>
<% #@categories = Category.all %>
<html>
  <head>
    <title><%=_("Compilando Ideas")%></title>

    <%= stylesheet_link_tag "application" %>

    <%= javascript_include_tag "application" %>

    <%= csrf_meta_tag %>

    <link rel="icon" href="/favicon.ico" type="image/ico" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/ico" />

  </head>
  <% content_for :header do %>
    <div id="tittle">
      <h1 id="maintitle"><%=  "Compilando..." %></h1>
    </div>
  <% end %>

  <% content_for :footer do %>

    <div>	<%=  "CompilandoIdeas.es " %><%= "powered by RubyOnRails, designed by Afmaga @ 2012" %><%="- All Rights Reserved" %></div>
  <% end %>

  <% content_for :sidebar_left  do %>
    <div id="menu">
      <ul>
        <li id="users">
          <a href="/"><%=_("Home")%></a>
        </li>        
        <% if session && session[:role] == "admin" %>
          <li id="users">
            <a href="/users"><%=_("Usuarios")%></a>
          </li>
          <li id="users">
            <a href="/users/<%=session[:user_id]%>"><%=_("Profile")%></a>
          </li>
          <li id="categories">
            <a href="/posts"><%=_("Posts")%></a>
          </li>
          <li id="categories">
            <a href="/categories"><%=_("Categories")%></a>
          </li>
          <li id="categories">
            <a href="/comments"><%=_("Comments")%></a>
          </li>
          <li id="categories">
            <a href="/comments/pending_comments"><%=_("Pending Comments")%></a>
          </li>
        <% elsif session && session[:role] == 'user' %>
          <li id="users">
            <a href="/users/<%=session[:user_id]%>"><%=_("Profile")%></a>
          </li>
        <% else %>
          <li id="users">
            <a href="/sessions/new"><%=_("Login")%></a>
          </li>
        <% end %>
          <% @categories.each do |cat| %>
          <li id="categories">
            <%= link_to cat.title, cat%>
            <% if cat.sub_cats  %>
            <ul>
              <li id="categories">
                <%= link_to cat.title, cat%>
              </li>
            </ul>
            <%end%>
          </li>
        <% end %>
      </ul>
    </div>
  <%end%>

  <% content_for :sidebar_right  do %>

    <div id="menu-right">
      <% if @comments && @comments.size > 0 %>
       <% @comments.each do |comment| %>
        <% @comment = comment %>
        <%= render :template => 'comments/show' %>
        <%  end %>
      <% end %>
      <% if @comment %>
      <%= render :template => 'comments/new'  %>
      <% end %>
    </div>
  <%end%>


  <% #END OF YIELD DEFINITION %>
  <body>
    <div id="out-contain">
      <div id="contain">
        <div id="header">
          <%= yield :header %>
        </div>
        <div style="margin-top:15px;clear:both;"><hr/></div>
        <div id="main">
          <div id="sidebar">
            <%= yield :sidebar_left %>
          </div>
          <div id="content">
            <%= yield %>
          </div>
          <% if @comments && @comments.size > 0 %>
          <div id="sidebar-right">
            <%= yield :sidebar_right %>
          </div>
          <%end%>
        </div>

      </div>
      <div id="footer">
        <%= yield :footer %>
      </div>
    </div>


  </body>
</html>